@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Лучшие товары</h2>
<h4>Специально для тебя</h4>
<div class="row mt-5 mb-2">
    @{
        foreach (Cosmetic cosmetic in Model.preferredCosmetic)
        {
            @Html.Partial("AllCosmetics", cosmetic)
        }
    }

</div>