<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title></title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
            <a class="navbar-brand" href="#">Shine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cosmetic/List">Все товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cosmetic/List/makeup">Макияж</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cosmetic/List/hair">Уход за волосами</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cosmetic/List/body">Уход для тела</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cosmetic/List/face">Уход для лица</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/ShoppingCart/">Корзина</a>
                       
                    </li>
                </ul>
               
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Вернуться наверх</a></p>
        <p>© 2020 Все права защищены · <a href="#">Соглашение</a> </p>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
