
   
    <h3>@Model.CurrCategory</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (Cosmetic cosmetic in Model.AllCosmetics){
                @Html.Partial("AllCosmetics", cosmetic)
            }
         }

    </div>